body
{
  font-family: Helvetica;
  background-color: beige;
  font-size: 67.5%;
}

// http://stackoverflow.com/questions/618097/how-do-you-easily-horizontally-center-a-div-using-css
.header-project-title
{
  text-align: center;
}

h1
{
  font-size: 3rem;
  display: inline-block;
}

.tile-container
{
  width: 350px;
  height: 350px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

.tile
{
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  line-height: 100px;
  margin: 2px;
  font-size: 2rem;
}

.game-message
{
  text-align: center;
  font-size: 2rem;
}
